.name {
  background: rgb(255, 138, 0);
  margin: 10px;
}

.brand-heading {
  font-weight: bold;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

